{% extends 'base.html' %}
{% load static %}

{% block title %}
<title> about -taskmate </title>
{% endblock title  %}

{% block content %}
<div class="container">
<hr>
 <div class="w3-col 12 m2 w3-margin-top">
     
    </div>
   <div class="w3-col 12 m8">
      <img  class="img-thumbnail"src="{% static 'images/img2.jpg' %}" alt="Satish" style="width:50%," style="width:50%,">
      <h3>Satish Patel</h3>
      <p class="w3-opacity">BE(computer)</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><a class="w3-button w3-dark-grey w3-block" href="{% url 'contact' %} ">Contact</a></p>
    </div>
     <div class="w3-col 12 m2 w3-margin-top">
       
    </div>

</div>  {% endblock content %}
  